/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body {
  background: #333;
  color: #fff;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
